<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.css" />
</head>

<body>
    <section class="hero is-primary">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    Word Attributes
                </h1>
            </div>
        </div>
    </section>
   <!--  <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-offset-4 is-4">
                    <form method="POST">
                        {% csrf_token %}
                        <div class="field has-addons">
                            <div class="control is-expanded">
                                {{form.name}}
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section> -->
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-offset-0 is-12">
                    <div class="content">
                        <h1>Upload</h1>
                        <p>Each word should be on its own line</p>
                        <form method = "post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <input type="file" name = "document">
                            <button type = "submit">Upload <b>Text(.txt)</b> File</button>
                        </form>
                    </div>
                    {% for word_attribute in word_data %}
                    <div class="box">
                        <article class="media">
                            <div class="media-content">
                                <div class="content">
                                    <p>
                                        <span class="title">Word: {{ word_attribute.word }}</span>
                                        <br>
                                        <h3>Definition:  &nbsp {{ word_attribute.short_definition }}</h3>
                                        <h5> Example(s):  &nbsp {{word_attribute.example}}</h3>
                                        <br> Part of Speech: {{word_attribute.partOfSpeech }}
                                        <br> Origin: {{word_attribute.Origin }}
                                        <br> Date: {{word_attribute.Date }}
                                    </p>
                                </div>
                            </div>
                        </article>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
    <footer class="footer">
    </footer>
</body>

</html>